<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Episodes</ion-title>
  </ion-toolbar>
</ion-header>
<!-- code base from mobdev classes and slides -->

<ion-content>
<div>
     <ion-list>
        <ion-item button detail lines="inset" *ngFor="let episode of episodes | async" (click)="openDetails(episode)">
        {{ episode.title }}
        </ion-item>
    </ion-list>
    </div>
   <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">
  <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more episodes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>