<ion-header>
<!-- code base from mobdev classes and slides -->
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/quote"></ion-back-button>
		</ion-buttons>
		<ion-title>Quotes Details</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>

	<ion-card *ngIf="quote">
		<ion-card-content>
				<ion-item class="movie-info" lines="none">
					<ion-icon name="film" slot="start"></ion-icon>
					 {{ quote.series }}
				</ion-item>
				<ion-item class="movie-info" lines="none">
					<ion-icon name="happy" slot="start"></ion-icon>
					Character author: {{ quote.author }}
				</ion-item>
                <ion-item class="movie-info" lines="none">
					<ion-icon name="chatbubbles" slot="start"></ion-icon>
					{{ quote.quote }}
				</ion-item>

		</ion-card-content>
	</ion-card>
</ion-content>
