<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Characters</ion-title>
		<ion-back-button></ion-back-button>
	</ion-toolbar>
</ion-header>
<!-- code base from mobdev classes and slides -->
<ion-content>
	<ion-list>
		<ion-item button detail lines="inset" *ngFor="let character of characters | async"
			(click)="openDetails(character)">
			<ion-avatar slot="start">
				<img [src]="character.img" *ngIf="character.img != 'N/A'">
            </ion-avatar>
				<ion-label text-wrap>
					<h2> {{character.name}}</h2>
					<h3>{{character.status}}</h3>
				</ion-label>
		</ion-item>
	</ion-list>
     <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circles"
      loadingText="Loading more characters...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
